:root {
    --dark-theme: #af1361;
    --light-theme: #fae1ee;
    --text-color: #d8d0d0;
    --dark-blue: #1F2937;
    --link-blue: #00367c;
    --mid-purple: #8243acc9;
    --bhagwa: #ff9900;
}

img:hover {
  filter: brightness(1.1);
}