:root {
    /* --dark-theme: #69D84F; */
    --dark-theme: #469035;
    --light-theme: #DAF6D3;
    --text-color: #d8d0d0;
    --dark-blue: #1F2937;
    /* --hover-color: #3A782C; */
    --hover-color: #5DC047;
}

img:hover {
  filter: brightness(1.1);
}